body {
    background-color: rgb(243, 241, 225);
    margin: 0;
    padding: 0;
}

.logoécriture {
    margin-top: 45%;
}

/* PAGE AUTHENTIFICATION*/
.logoécriture img {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.Choix {
    margin-top: 10%;
}

h1 {
    text-align: center;
    color: white;
    border-radius: 50px;
    background-color: #FF944D;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Archivo Black', sans-serif;
    width: 70%;
    text-shadow: 1px 1px 0px black;
}


.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

footer img {
    width: 20%
}

