<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="../style.css" rel="stylesheet" />
</head>

<body>
    <div class="page-container">
        <header>
            <div class="logo">
                <img src="../img/ecriture.png">
            </div>
            <div class="home-icon">
                <img src="../img/home.png">
            </div>
        </header>
        <div class="titreInscription"> INSCRIPTION</div>
        <form action="">
            <div class="BlocFormulaire">
                <div class="champ"> Nom : <br>
                    <input type="text" name="Nom">
                </div>
                <div class="champ"> Email : <br>
                    <input type="text" name="Email">
                </div>
                <div class="champ"> Mot de passe : <br>
                    <input type="password" name="password">
                </div>

                <input type="submit" value="Créer" class="ButtonCreation">

            </div>
        </form>
        <footer>
            <img src="../img/carotte2.png">
            <img src="../img/fromage2.png">
            <img src="../img/pomme2.png">
        </footer>
    </div>
</body>

</html>