main {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'archivo black', sans-serif;
    background-image: url("../img/background_test1.jpg");
    background-size: cover;
    background-position: center;
}
h1{
    background-color: rgba(167, 164, 164, 0.87);
    border-radius: 1em 1em 0 0;
    padding: 0.5em;
    margin: 2% 30% 0 30%;
    font-size: 1em;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(14, 239, 250);
    -webkit-text-stroke: 0.01em black;
    text-align: center;
    justify-content: center;

}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #e46000;
    margin: 0 0.5em 0 0.5em;
    padding: 0 0.5em 0 0.5em;
    border-radius: 2em;
    justify-content: space-around;
}
.item{
    background-color: #f68533;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
    width: 22vw;
    height: 30vh;
    display: grid;
    grid-template: 40% 3fr 1fr 1fr / 80% 1fr;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
}
.item p{
    
    margin: 0;
}
.item_name {
    grid-column: 1 / 3;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1em;    
    color: #f0efed;
}
.item_date{
    grid-column: 1 / 3;
    font-size: small;
    color: #c7ff72;
    margin-left: 1.5em;
}
.item_quantity {
    grid-column: 1 / 3;
    font-size: small;
    color: #f0efed;
    transform: translateY( 0%);
}
.item .icon_remove{
    width: 1.25em;
    transform: translateY(-200%);
}
.item .item_img{
  margin-top: 0%;
  width: 80%;
  border-radius: 0.5em;
  transform: translateX(20%);
  
}
.icon_categorie {
  display: none ;
}
.add_product{
    text-decoration: none;
    color: white;
    background-color: #cf3b2e;
    border: none;
    border-radius: 2em;
    padding: 0.5em;
    margin: 2% 25% 0 25%;
    text-align: center;
    font-size: large;
    position: sticky;
    bottom: 1vh;
}
.modal {

    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #B8434E;
    color:#AFDC4D;
    margin: 15% auto;
    padding: 2em;
    border-radius: 1em;
    width: 60%;
    max-width: 100em;
  }
  .modal-content span {
    color:#F3BDAD;
    font-size: 1.5em;
    font-weight: bold;
    
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 4em;
    cursor: pointer;
  }
 .modal {
    font-family: 'Archivo Black', sans-serif;

  }
.modal h2{
    color: #f0efed;
    font-size: 2em;
    text-align: center;
  }
  .modal input,
  .modal select,
  .modal textarea {
    background-color: #B8434E;
    color: #fff2d1;
    border: none;
    font-size: 1em;
    padding: 1em;
    border-radius: 2em;
    width: 100%;
    margin-bottom: 2em;
    box-sizing: border-box;
    border: 0.1em solid #000000;
  }
  #catégorie {
    color: white;
  }
  .modal #btnPlus {
   transform:  translateX(170%) translateY(100%);
   width: 3em;
    height: 2em;
}
 .modal #btnMoins {
   transform:  translateX(0%) translateY(95%);
   width: 3em;
    height: 2em;
    font-size: 0.9em;
  }
  .modal #nomProduit {
   font-family: 'archivo black', sans-serif;
   -webkit-text-stroke: 0.01em black;
  }