body{
    background-color: #EFEDDC;
    justify-content: center; /* Centre horizontalement */
    align-items: center; 
}
.inscription{
    text-align: center;
}
form {
    
    padding: 20px;

    
}

footer img {
    width: 20%
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}