header{
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    /* Autres styles pour ton footer */
    margin-top: auto; /* Pousse le footer en bas */
    
}
body{
    background-color: #EFEDDC;
    justify-content: center; /* Centre horizontalement */
    align-items: center; 
}
.inscription{
    text-align: center;
}
form {
    
    padding: 20px;

    
}